.container {
    position: relative;
    width: 1920px;
    height: 1100px;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%)
}

.menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    font-family: Sarala;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFF2E7;
}

.itens_menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 262px;

}

.logo_inicial {
    margin-left: 368px;
    margin-right: 522px;
    margin-top: 18px;
    margin-bottom: 16px;

}


.button {
    all: unset;
}

.btn_add {
    width: 185px;
    height: 67px;
    left: 369px;
    top: 382px;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.central_logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo_mascote {
    position: absolute;
    width: 394.13px;
    height: 429.31px;
    left: 1171px;
    top: 96px;
}

.descricao {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 276.04px;
    height: 0px;
    left: 822px;
    top: 576px;

    border: 0.4px solid #FFF2E7;
}

.linha_3 {
    position: absolute;
    width: 1920.01px;
    height: 0px;
    left: -8px;
    top: 925px;

    border: 0.4px solid #FFF2E7;
}