.container {
    position: relative;
    width: 1920px;
    height: 1100px;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%)
}

.menu {
    display: flex;
    justify-content: space-around;
}



.button {
    all: unset;
}

.btn_add {
    width: 185px;
    height: 67px;
    left: 369px;
    top: 382px;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.central_logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo_mascote {
    position: absolute;
    width: 394.13px;
    height: 429.31px;
    left: 1171px;
    top: 96px;
}